:root {
  color-scheme: light dark; /* 页面配色方案 */
  --common-border-radius: 4px; /* 一般圆角 */
  --card-border-radius: 8px; /* 卡片圆角 */
  --full-border-radius: 100px; /* 全圆角 */
}

@media (prefers-color-scheme: light) {
  :root {
    /* 全透明样式背景色 */
    --transparent-overlay: rgba(255, 255, 255, 0);
    /* 半透明样式背景色 */
    --highlight-overlay: rgba(255, 255, 255, 0.5);
    /* 全局背景色 */
    --global-bg: #e2e1e4; /* 芡食白 */
    /* 正文文本 */
    --body-text: #161823; /* 漆黑 */
    /* 辅助文本、帮助文本 */
    --aide-text: #50616d; /* 墨色 */
    /* 有色深色背景下文本颜色（固定） */
    --light-text: #fffbf0; /* 象牙白 */
    /* 主要背景色 */
    --main-bg: #084495; /* 群青 */
    /* 撞色、对比色、反衬色 */
    --contrast-bg: #b84b48; /* 朱砂 */
    /* 基础阴影 */
    --base-shadow: 0 2px 6px 0 rgba(37, 43, 58, 0.24);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* 全透明样式背景色 */
    --transparent-overlay: rgba(0, 0, 0, 0);
    /* 半透明样式背景色 */
    --highlight-overlay: rgba(0, 0, 0, 0.5);
    /* 全局背景色 */
    --global-bg: #303030; /* 油烟墨 */
    /* 正文文本 */
    --body-text: #f0f0f4; /* 铅白 */
    /* 辅助文本、帮助文本 */
    --aide-text: #c0c4c3; /* 月影白 */
    /* 有色深色背景下文本颜色（固定） */
    --light-text: #fffbf0; /* 象牙白 */
    /* 主要背景色 */
    --main-bg: #1772b4; /* 群青 */
    /* 撞色、对比色、反衬色 */
    --contrast-bg: #b84b48; /* 朱砂 */
    /* 基础阴影 */
    --base-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.72);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.no-select {
  -webkit-user-select: none;
}

#win {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--global-bg);
  border-radius: var(--card-border-radius);
  box-shadow: var(--base-shadow);
  color: var(--body-text);
}

.win-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 4px 8px;
  box-shadow: var(--base-shadow);
}

.win-left {
  margin-left: 8px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: var(--body-text);
}

.win-logo,
.win-title {
  display: inline-block;
  vertical-align: top;
}

.win-logo {
  margin-top: 4px;
}

.win-right {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
}

.win-btn {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: var(--common-border-radius);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.win-btn svg {
  fill: var(--body-text);
}

.win-btn:hover {
  box-shadow: var(--base-shadow);
}

.win-btn#min-btn:hover,
.win-btn#max-btn:hover {
  background-color: var(--highlight-overlay);
}

.win-btn#close-btn:hover {
  background-color: var(--contrast-bg);
}

.win-btn#close-btn:hover svg {
  fill: var(--light-text);
}

.win-content {
  flex: auto;
  min-height: 0;
}

.win-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  color: var(--aide-text);
  font-size: 12px;
  line-height: 1.5;
}

.win-contact a {
  margin-left: 8px;
  text-decoration: none;
  color: var(--main-bg);
}

.win-contact a:hover {
  text-decoration: underline;
}

.win-contact a:active {
  color: var(--contrast-bg);
}
